CLOUDINARY_NAME="dtvtgv6tj"
CLOUDINARY_API_KEY="261887813795122"
CLOUDINARY_API_SECRET="-FUJb7P3q4W3bwqEf7233i1LzVE"
MONGODB_URI='mongodb://localhost:27017/apnagaana'
PORT=3004
JWT_SECRET="your_jwt_secret_key"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="your_admin_password"
JAMENDO_CLIENT_ID="your_jamendo_client_id"